<%- include('../../partials/adminHeader') %>
    <h2 class="page-title">Products</h2>
    <a href="/admin/products/add-product" class="btn btn-primary">Add a new product</a>
    <br><br>

    <% if (messages.success && messages.success.length !=0) { %>
        <% messages.success.forEach((msg)=> { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin: top 20px;">
                <%= msg %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    </button>
            </div>
            <% }) %>
                <% } else if (messages.error && messages.error.length !=0) { %>
                    <% messages.error.forEach((msg)=> { %>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert"
                            style="margin: top 20px;">
                            <%= msg %>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                </button>
                        </div>
                        <% }) %>
                            <%}%>

                                <% if (products.length!==0) { %>

                                    <table class="table table-striped alignmiddle">

                                        <thead>
                                            <tr class="home">
                                                <th>Product</th>
                                                <th>Price</th>
                                                <th>Category</th>
                                                <th>Product Image</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% products.forEach((product)=>{ %>
                                                <tr>
                                                    <td>
                                                        <%= product.title %>
                                                    </td>
                                                    <td>$<%= parseFloat(product.price).toFixed(2) %>
                                                    </td>
                                                    <td>
                                                        <%= product.category %>
                                                    </td>
                                                    <td>
                                                        <% if (!product.image) { %>
                                                            <img id="noimage" src="\images\noimage.png" height="50px"
                                                                width="50px">
                                                            <% } else {%>
                                                                <img id="noimage" src="\images\<%= product.image %>"
                                                                    height="50px" width="50px">
                                                                <% }%>
                                                    </td>
                                                    <td><a
                                                            href="/admin/products/edit-product/<%= product._id %>">Edit</a>
                                                    </td>
                                                    <td><button type="button" class="btn btn-danger"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#deleteModal_<%= product._id %>">Delete</button>
                                                    </td>
                                                </tr>
                                                <% }); %>
                                        </tbody>

                                        <% products.forEach(function(product){ %>
                                            <div class="modal fade" id="deleteModal_<%= product._id %>" tabindex="-1"
                                                role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteModalLabel">Confirm
                                                                Deletion</h5>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Are you sure you want to delete the product <b
                                                                    class="fw-bold">
                                                                    <%= product.title %>
                                                                </b>?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Close</button>
                                                            <form
                                                                action="/admin/products/delete-product/<%= product._id %>?_method=DELETE"
                                                                method="POST">
                                                                <button type="submit"
                                                                    class="btn btn-danger">Delete</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }); %>
                                    </table>

                                    <% } else {%>
                                        <h3 class="text-center">There are no products.</h3>
                                        <% }%>


                                            <%- include('../../partials/adminFooter') %>